.button {
  background-color: #f65261;
  border-radius: 5px;
  border: 0;
  color: #fefefe;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  height: 51px;
  margin-left: 10px;
  padding: 16px 73px;
  text-transform: uppercase;
}
button:hover {
  background-color: lighten($color: #e54b4b, $amount: 5);
}
