.infopanel {
  .poster {
    margin-right: 92px;
    margin-bottom: 70px;
  }
  .logo-container {
    margin-bottom: 37px;
  }
  &__container {
    display: flex;
    width: 1011px;
  }
  &__title-row {
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
  &__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 52px;
    font-weight: 400;
    line-height: 63px;
    opacity: 80%;
    margin-right: 17px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  &__vote {
    color: #a1e66f;
    line-height: 70px;
    opacity: 80%;
    font-size: 26px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 67px;
    height: 67px;
    text-align: center;
    vertical-align: middle;
  }
  &__tagline {
    font-size: 16px;
    opacity: 70%;
    margin-bottom: 23px;
  }
  &__digits {
    font-size: 32px;
    color: #f65261;
    margin-right: 30px;
  }
  &__overview {
    font-size: 17px;
    opacity: 80%;
    font-family: 'Open Sans';
    margin-top: 23px;
  }
}
