.top-panel {
  backdrop-filter: blur(5px);
  background-image: url('/assets/back.jpg');
  overflow: hidden;
  h1 {
    font-weight: 300;
  }
  .logo-container {
    display: flex;
    justify-content: space-between;
  }
}
.blur {
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
}
