.movielist {
  background-color: #232323;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.emptylist {
  color: #ffffff;
  font-size: 52px;
  opacity: 80%;
  text-align: center;
  margin-top: 230px;
  margin-bottom: 230px;
}
